@model List<ChinesePriceTracker.Models.Product>
@{
	ViewBag.Title = "Home Page";
}


<table class="table" width="100%">
	<thead class="thead-inverse">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Store</th>
			<th>Latest price</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var product in Model)
			{

			<tr>
				<td scope="row">@product.ProductID</td>
				<td>@product.Name</td>
				<td>@product.Store</td>
				<td>@product.PricePoints.Last().Price</td>
			</tr>
			}

	</tbody>
</table>
