@{
    ViewBag.Title = "Home Page";
}

<table class="table">
	<thead class="thead-inverse">
		<tr>
			<th>Name</th>
			<th>Store</th>
			<th>Last Measured</th>
			<th>Price</th>
			<th>Price increase last month</th>
		</tr>
	</thead>
</table>